.fondo_spaceat_promos {
    height: 140vh;
    background-image: url("../img/Fondo");
    background-color: #222221;
}

.div_h3_promos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 70px;
}

.h2_promos {
    color: $color-letras ;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    font-size: 1.5rem;
    padding-top: 90px;
}

.letra_chica {
    font-family: $font-letra;
    font-size: 1rem;
    color: $color-letras;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    font-size: 1rem;
    padding-top: 20px;
}

.imagen_triple {
    height: 300px;
    width: 350px;
    background-position: center;
    border: solid 3px white;
    margin-top: 30px;

    &:hover {
        transform: scale(1.2, 1.2);
        transition-duration: 1s;
    }
}

.parrafos {
    color: $color-letras;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    font-size: 1.2rem;
    padding-top: 50px;
    font-family: $font-letra;
}


@media screen and (max-width: 767px) {
    .fondo_spaceat_promos {
        height: 316vh;
    }
}

@media screen and (max-width: 767px) {
    .letra_chica {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .div_h3_promos {
        @include flexbox(column, center);
        text-align: center;
        align-items: center;
        padding: 0;
    }
}

@media screen and (max-width: 420px) {
    .promo_tablet {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
}

@media screen and (max-width: 420px) {
    .parrafos {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .h2_promos {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 767px) {
    .imagen_triple {
        width: 250px;
        height: 300px;
        object-fit: cover;
    }
}

@media screen and (min-width: 767px) {
    .promo_tablet {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }
}

@media screen and (min-width: 767px) {
    .precios_promos {
        text-align: center;
        padding-top: 120px;
        gap: 20px;
    }
}



@media screen and (min-width: 767px) {
    .parrafos {
        text-align: center;
        padding: 0;
    }
}

@media screen and (min-width: 767px) {
    .imagen_triple {
        width: 250px;
        height: 350px;
        object-fit: cover;
        margin: 0;
    }
}

@media screen and (min-width: 767px) {
    .div_promos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 60px;
        width: 100%;
    }
}

@media screen and (max-width: 1399px) {
    .letra_chica {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .fondo_spaceat_promos {
        height: 310vh;
        width: 100%;
        background-image: url("../img/Fondo");
        background-color: #222221;
    }
}

@media screen and (min-width: 1399px) {
    .promo_tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }
}

@media screen and (min-width: 1399px) {
    .fondo_spaceat_promos {
        height: 138vh;
        width: 100%;
        background-image: url("../img/Fondo");
        background-color: #222221;
    }
}

@media screen and (min-width: 1399px) {
    .precios_promos {
        @include flexbox(column, center);
        text-align: center;
        padding-top: 50px;
        gap: 70px;
        width: 500px;
    }
}

@media screen and (min-width: 767px) {
    .div_h3_promos {
        @include flexbox(column, center);
        text-align: center;
        padding: 20px;
        gap: 100px;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1399px) {
    .div_h3_promos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
        padding: 0;
    }
}

@media screen and (min-width: 1399px) {
    .div_promos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 0px;
    }
}


@media screen and (min-width: 1399px) {
    .parrafos {
        text-align: center;
        align-items: center;
        padding: 0;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1399px) {
    .imagen_triple {
        width: 180px;
        height: 250px;
        object-fit: cover;
        margin: 0;
    }
}