.fondo_spaceat_sucursales {
    height: 100vh;
    background-image: url("../img/Fondo");
    background-color: #222221;
    background-size: -1000px;
}

.mapa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 200px;
}

.articulo_sucursales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 50px;
}

@media screen and (max-width: 421px) {
    .mapa,.mapa_responsive_767 {
        display: none;
    }
}

@media screen and (min-width: 421px) {
    .mapa_responsive_420{
        display: none;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 300px ;
        height: 300px;
        padding-top:30px ;
    }
}

@media screen and (max-width: 421px) {
    .mapa_responsive_420{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 0;
    }
}

@media screen and (max-width: 421px) {
    .fondo_spaceat_sucursales{
    height: 95vh;
    background-image: url("../img/Fondo");
    background-color: #222221;
    background-size: -1000px;
    }
}


@media screen and (min-width: 767px) {
    .mapa {
        display: none;
    }
}


@media screen and (min-width: 767px) {
    .mapa_responsive_420{
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .mapa_responsive_767{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-around;
        padding: 0;
    }
}

