.fondo_spaceat_sucursales {
    height: 100vh;
    background-image: url("../img/Fondo");
    background-color: #222221;
    background-size: -1000px;
}

.mapa {
    @include flexbox(row, center);
    justify-content: center;
    padding-top: 50px;
    gap: 200px;
}

.articulo_sucursales {
    @include flexbox(column, center);
    justify-content: center;
    text-align: center;
    gap: 50px;
}

@media screen and (max-width: 421px) {

    .mapa,
    .mapa_responsive_767 {
        display: none;
    }
}

@media screen and (min-width: 421px) {
    .mapa_responsive_420 {
        display: none;
    }
}

@media screen and (max-width: 421px) {
    .mapa_responsive_420 {
        @include flexbox(column, center);
        text-align: center;
        padding: 0;
    }
}

@media screen and (max-width: 421px) {
    .fondo_spaceat_sucursales {
        height: 95vh;
        background-image: url("../img/Fondo");
        background-color: #222221;
        background-size: -1000px;
    }
}


@media screen and (min-width: 767px) {
    .mapa {
        display: none;
    }
}


@media screen and (min-width: 767px) {
    .mapa_responsive_420 {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .mapa_responsive_767 {
        @include flexbox(row, center);
        text-align: center;
        justify-content: space-around;
        padding: 0;
    }
}